:root {
    --primary-color: #2a2130;
    --primary-color-transparent: #4e3c57;
    --secondary-color: #ffffff;
    --contrast-color: #b0d7ff;
    --basic-skill-color: #ffedab;
    --advanced-skill-color: green;
    --pro-skill-color: red;
    --specialbutton-color: black;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    place-items:start;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

a{
    text-decoration:none;
}

p,
del,
ol,
li {
    color: var(--secondary-color);
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
}

.small {
    font-size: 8px;
}

.medium {
    font-size: 16px;
}

.big {
    font-size: 24px;
}

.header {
    font-size: 32px;
}

.title {
    font-size: 40px;
}

.smallweight {
    font-weight: 400;
}

.mediumweight {
    font-weight: 600;
}

.bigweight {
    font-weight: 800;
}

/* Input Field */
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    accent-color: var(--contrast-color);
}

input::placeholder {
    color: var(--contrast-color);
    font-size: 24px;
    font-style: italic;
    outline: none;
}

input[type="input"] {
    font-size: 24px;
    color: var(--secondary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    padding-left: 8px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: linear-gradient(0deg, rgba(42, 33, 48, 1) 0%, #2a2130 100%);
    border: none;
    outline: none;
}

.button {
    font-size: 16px;
    text-align: center;
    color: var(--contrast-color);
    padding: 8px;
    font-weight: 600;
    border-radius: 24px;
    background: var(--primary-color-transparent);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    min-width: 40px;
    border: none;
}

    .button:hover {
        background: var(--primary-color);
    }

@media screen and (min-width: 800px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .desktop {
        display: none;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;
    gap: 8px;
    overflow: hidden;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 8px;
    padding: 16px 8px 16px 8px;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 8px;
    padding: 16px 8px 16px 8px;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 8px;
    padding: 16px 8px 16px 8px;
}